body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* .font {
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
} */

.primary-font {
    font-family: 'Poppins', sans-serif;
}

.title-font {
    font-family: 'Inter', sans-serif;
}

.donate-button {
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    background-color: #FF5959;
    padding: 10px 30px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}



/* Hero Banner SEction */

.hero-section {
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    padding: 100px 200px;
    text-align: center;
}

.hero-section h1 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 65px;
}

.hero-section p {
    color: white;
    font-size: 18px;
    margin-bottom: 40px;
}



/* Donate today Section */

.donate-today h1 {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    color: #121212;

}

.donate-today p {
    font-size: 18px;
    color: #707070;
}

.donate-option {
    display: flex;
    justify-content: space-between;
}

.donate-option p {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #707070;
    background-color: #FAFAFA;
    padding: 40px 30px;
    border-radius: 5px;
}

#donate-item {
    color: #FF5959;
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}

#donate-field {
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    color: #B3B3B3;
    width: 100%;
    border: none;
    border-bottom: 1px solid #B3B3B3;
}


/* Our Donate Plan */