body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* .font {
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
} */

.primary-font {
    font-family: 'Poppins', sans-serif;
}

.title-font {
    font-family: 'Inter', sans-serif;
}

.container {
    padding: 100px 200px;
    text-align: center;
}

.donate-button {
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    background-color: #FF5959;
    padding: 10px 30px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}



/* Hero Banner SEction */

.hero-section {
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero-section h1 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 65px;
}

.hero-section p {
    color: white;
    font-size: 18px;
    margin-bottom: 40px;
}



/* Donate today Section */

.donate-today h1 {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    color: #121212;

}

.donate-today p {
    font-size: 18px;
    color: #707070;
}

.donate-option {
    display: flex;
    justify-content: space-between;
}

.donate-option p {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #707070;
    background-color: #FAFAFA;
    padding: 40px 30px;
    border-radius: 5px;
}

#donate-item {
    color: #FF5959;
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}

#donate-field {
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    color: #B3B3B3;
    width: 100%;
    border: none;
    border-bottom: 1px solid #B3B3B3;
}


/* Our Donate Plan */

.our-donate-plan h1 {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    color: #121212;

}

.our-donate-plan p {
    font-size: 18px;
    color: #707070;
}

.donate-plan-card {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.plan-card-item {
    /* height: 350px; */
    width: 32%;
    text-align: left;
    border-radius: 5px;
}

.card-icon img {
    height: 50px;
    padding: 30px 0 0 20px;
}

.card-description {
    padding: 0 20px 30px;
}

.card-description h1 {
    font-family: 'Inter', sans-serif;
    color: #121212;
    font-size: 24px;
}

.card-description p {
    color: #707070;
    font-size: 16px;
}

#card-item-1 {
    background-color: #eef6f7;
}

#card-item-2 {
    background-color: #ffe6e6;
}

#card-item-3 {
    background-color: #fff2e6;
}

/* Get My Updates */

.get-my-update h1 {
    font-family: 'Inter', sans-serif;
    color: #121212;
    font-size: 45px;
}

.get-my-update p {
    color: #707070;
    font-size: 18px;
}

.update {
    background-color: #FFF4D6;
    padding: 50px 0;
    border-radius: 5px;
}

.update-email {
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 15px;
    font-size: 16px;
    color: #AA9F9F;
    margin-right: 0;
}

.update-button {
    background-color: #FF5959;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 15px;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 0;
    cursor: pointer;
}